{% extends 'base.html' %}
{% load static %}
{% block body %}

<style>
    td {
        margin: auto;
    }

    .btn_t {
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: inline-block;
        font-size: 2rem;
        color: #fff;
        background: var(--black);
        border-radius: .5rem;
        cursor: pointer;
        padding: .8rem 3rem;
        width: 100%;
    }
    .btn_t:hover{
        background: var(--green);
        color: var(--black);
        font-weight: 700;
    }

</style>
<section class="mt-[100px]">
    <div class="w-full h-full bg-white rounded-t-[4rem] flex flex-col ">
        <form action="{% url 'cart_item_detail' %}" method="POST">
            {% csrf_token %}
            <table class="table w-full">
                {% for u in cart_int %}
                {% for i in fi %}
                {% if u == i.fi_id %}
                <tr class=" bg-gray-300 m-10 p-[10px] hello border-[1px] w-full">
                    <td>
                        <a href="{% url 'remove_cart_item' i.fi_id %}" class="
                            text-[#192a56] text-[25px] bg-transparent
                            pl-[20px]"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                    <td class="p-[10px]">
                        <img src="{{ i.food_image.url }}" class="w-[100px]
                            rounded-[500px]" alt="">
                    </td>
                    <td class="">
                        <input type="number" name="fi_id{{u}}" id="fi_id" class="hidden" value="{{ i.fi_id }}" readonly>
                        <input type="text" class=" text-[#192a56] text-[25px]
                            bg-transparent" value="{{ i.food_name }}" name="fi_name{{u}}" readonly>
                    </td>
                    <td class="text-[30px] text-[#192a56] font-semibold ">
                        <!-- {{i.food_price}} -->
                        <input type="text" class=" bg-transparent price right-1
                            " name="price{{u}}" id="price" value="{{i.food_price}}" readonly>
                    </td>
                    <td class="flex py-[20px] ">
                        <div class="minus my-auto">
                            <i class="fa fa-minus text-[#192a56] border-solid
                                border-[1px] border-[#192a56] p-[3px]"></i>
                        </div>
                        <input class="rounded-sm text-[#192a56] text-[35px] text-center
                            mx-[5px] quantity bg-transparent w-[40px]" name="quantity{{u}}" value="1" readonly>
                        <div class="plus my-auto">
                            <i class="fa fa-plus text-[#192a56] border-solid
                                border-[1px] border-[#192a56] p-[3px]"></i>
                        </div>
                    </td>
                    <td id="" class="w-[300px] text-[#192a56] text-[30px] font-semibold">
                        <input type="text" class="t_amount bg-transparent text-right pr-[20px] right-1" name="t_price{{u}}" id="price" value="{{i.food_price}}" readonly>
                    </td>

                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </table>
            <table class="w-full relative right-0">
                <tr class=" p-[10px] border-[1px] w-full">
                    <td class="w-fit pl-[20px] bg-gray-300 text-[#192a56] text-[30px] font-semibold text-right">Total Price :</td>
                    <td class="w-[100px] text-[#192a56] bg-gray-300 text-[30px] font-semibold text-right">
                        <input id="total_amount" value="0" class="text-[40px] bg-transparent w-[150px] text-right pr-[20px]" readonly>
                    </td>
                </tr>
            </table>
            <input class="btn_t" type="submit" value=" Confirm Order">
        </form>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.plus').click(function () {
            var x = $(this).parent().find('.quantity').val();
            var y = parseInt(x) + 1;
            $(this).parent().find('.quantity').val(y);
            const a = $(this).parents("tr").find('.price').val();
            // alert(a)
            const a1 = parseInt(a)
            var t_a = parseInt(a1) * y;
            $(this).parents("tr").find('.t_amount').val(t_a);
            total();
        });
    });
    $(document).ready(function () {
        $('.minus').click(function () {
            var x = $(this).parent().find('.quantity').val();
            if (x > 1) {
                var y = parseInt(x) - 1;
            $(this).parent().find('.quantity').val(y);
            const a = $(this).parents("tr").find('.price').val();
            const a1 = parseInt(a)
            var t_a = parseInt(a1) * y;
            $(this).parents("tr").find('.t_amount').val(t_a);}
        });
        total();
    });

    function total() {
        var base = document.getElementsByClassName('t_amount');
        let len = document.getElementsByClassName('hello').length;
        var add = 0
        for (i = 0; i < base.length; i++) {
            var amount = parseInt(base[i].value);
            add = parseInt(amount) + parseInt(add);
        }
        document.getElementById('total_amount').value = add;
    }

</script>
{% endblock body %}