.container1{
    padding: 2rem;
    margin-bottom: 5rem;
}
*{
    font-size: 20px;
}
table {
    width: 100%;
}
.main-sparkline13-hd h1{
    font-size: 30px;
    margin-bottom: 1.5rem;
}
.toolbar{
    display: flex;
    width: 100%;
    position: absolute;
}
.form-control{
    margin-bottom: 2rem;
    position: relative;
}
.search{
    border: solid 1px gray;
    width: 20%;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    padding: .5rem;
    position: relative;
    margin-bottom: 1rem;
}

thead tr{
    border: gray solid 1px;
    text-align: left;
    background: #37e07d;
    color: darkgreen;
}

tbody tr td,
thead tr th{
    padding: 1rem;
    font-size: larger;
    border:  green solid 2px;
    }

